.quiz {
    display: none;
}

.play_click {
    display: none;
}


#wrapper>* {
    animation-name: intro;
    animation-duration: 2.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0%;
}


h1 {
    text-align: center;
    font-size: 2.5rem;
    user-select: none;
}

#user_interaction {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-self: center;
    gap: 15px;
}

#user_interaction>span {
    font-size: 0.8rem;
    text-align: center;
    user-select: none;
}

#user_interaction>p {
    text-decoration-line: underline;
    font-size: 1.2rem;
    text-align: center;
    user-select: none;
    margin-top: 2rem;
}

#user_interaction>p:hover {
    cursor: pointer;
}

#user_interaction>p:active {
    color: white;
}

#user_inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: none;
}

.input_fields {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

#login_button {
    text-align: center;
    font-size: 1.2rem;
}

#login_button:hover {
    cursor: pointer;
}





/* EXTRA */

@keyframes intro {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.doggo {
    height: 10vw;
    width: 10vw;
    position: absolute;
    top: 19vh;
    left: 44vw;
    opacity: 100%;
}